@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  cursor: none;
  overflow-x: hidden;
  width: 100%;
}


/* Global Utilities */
.text-stroke-responsive {
  -webkit-text-stroke: 0.5px black;
  color: transparent;
}

.dark .text-stroke-responsive {
  -webkit-text-stroke: 0.5px white;
  color: transparent;
}

@media (min-width: 768px) {
  .text-stroke-responsive {
    -webkit-text-stroke: 1px black;
  }

  .dark .text-stroke-responsive {
    -webkit-text-stroke: 1px white;
  }
}

@layer utilities {

  /* Hero Section Utilities */
  .text-stroke-black {
    -webkit-text-stroke: 1px black;
  }

  .text-stroke-white {
    -webkit-text-stroke: 0.5px white;
    color: transparent;
  }

  @media (min-width: 768px) {
    .text-stroke-white {
      -webkit-text-stroke: 1px white;
    }
  }

  .text-stroke-black-strong {
    -webkit-text-stroke: 2px black;
  }

  .text-stroke-white-strong {
    -webkit-text-stroke: 2px white;
  }
}